#logo {
  width: 18%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  background-color:rgb(225, 238, 241);
  color: white;
}
