table {
  background-color: rgb(206, 220, 247);
  border: solid;
  border-width: 1px;
  width: 100%;
}

mat-card {
  padding: 10px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 10px;
}
