<mat-card appearance="outlined">

  <div id="header">
    <mat-toolbar color="primary" id="toolbar">
      <div id="titulo">
        <span>Listagem de Coletas</span>
      </div>
      <div id="pesquisa">
        <!-- Campo de seleção do filtro -->
        <mat-form-field>
          <mat-label>Filtrar por:</mat-label>
          <select matNativeControl required title="Filtro de Coletas">
            <option value="endereco">Endereço</option>
            <option value="bairro">Bairro</option>
            <option value="cidade">Cidade</option>
            <option value="uf">UF</option>
          </select>
        </mat-form-field>

        <!-- Campo de Pesquisa/Filtro -->
        <mat-form-field appearance="fill" class="search-input">
          <mat-label>Pesquisar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar coletas..." #input>
          <!-- Ícone opcional de limpar -->
          <button *ngIf="input.value" matSuffix mat-icon-button aria-label="Limpar" (click)="clearSearch(input)">
            <mat-icon>close</mat-icon>
          </button>
          <mat-icon matSuffix *ngIf="!input.value">search</mat-icon>
        </mat-form-field>
      </div>
    </mat-toolbar>

    <div id="icones">
      <div class="example-button-row">
        <a href="#maps"><img src="assets/icons8-google-map-24.png" alt="Google Maps"></a>
      </div>
      <div class="example-button-row">
          <a href="#nova"><img src="assets/icons8-novo-contato-24.png" alt="Nova coleta"></a>
      </div>
      <div class="example-button-row">
        <a href="#importar"><img src="assets/icons8-baixar-24.png" alt="Importar coletas"></a>
      </div>
    </div>
  </div>

  <div *ngIf="coletas$ | async as coletas; else loading">

    <table mat-table [dataSource]="coletas" class="mat-elevation-z8">

      <!-- select Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef> <strong>CHECK</strong> </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]=element.select
            (change)="onSelectChange(element, $event)"
            aria-label="Selecionar Coleta">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- doador Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> <strong>NOME</strong> </th>
        <td mat-cell *matCellDef="let element"> {{ element.nome }} </td>
      </ng-container>

      <!-- endereco Column -->
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef> <strong>ENDEREÇO</strong> </th>
        <td mat-cell *matCellDef="let element"> {{ element.endereco }} </td>
      </ng-container>

      <!-- bairro Column -->
      <ng-container matColumnDef="bairro">
        <th mat-header-cell *matHeaderCellDef> <strong>BAIRRO</strong> </th>
        <td mat-cell *matCellDef="let element"> {{ element.bairro }} </td>
      </ng-container>

      <!-- cidade Column -->
      <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef> <strong>CIDADE</strong> </th>
        <td mat-cell *matCellDef="let element"> {{ element.cidade }} </td>
      </ng-container>

      <!-- uf Column -->
      <ng-container matColumnDef="uf">
        <th mat-header-cell *matHeaderCellDef> <strong>UF</strong> </th>
        <td mat-cell *matCellDef="let element"> {{ element.uf }} </td>
      </ng-container>

      <!-- cep Column -->
      <ng-container matColumnDef="cep">
        <th mat-header-cell *matHeaderCellDef> <strong>CEP</strong> </th>
        <td mat-cell *matCellDef="let element"> {{ element.cep }} </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> <strong>E-MAIL</strong> </th>
        <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
      </ng-container>

      <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <div id="actions_container">
          <th mat-header-cell *matHeaderCellDef id="cabecalho"> <strong>AÇÕES</strong> </th>
          <td mat-cell *matCellDef="" id="actions">
            <div class="example-button-row">
              <a href="#edit"><img src="assets/edit.png" alt="Edit"></a>
            </div>
            <div class="example-button-row">
                <a href="#delete"><img src="assets/delete.png" alt="Delete"></a>
            </div>
          </td>
        </div>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</mat-card>
